---
layout: default
---
<br />
<br />

  <div id="homepage" class="container">
    <div id="header">
      <div class="avatar">
        <img src="images/avatar.jpg" />
      </div>
      <div class="name">
        <img src="images/logo.png" />
      </div>
      <div class="tagline">
        Finding myself through photography
      </div>
      <div class="social">
        <a href="https://www.facebook.com/Joysunphoto" target="_new">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="http://instagram.com/joysunphotography" target="_new">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="mailto:joy@joysunphotography.com">
          <i class="fa fa-envelope"></i>
        </a>
      </div>
      <hr />
    </div>
    <div id="portfolios">
      <div class="row">
      {% assign pages = site.pages | sort: 'title' %}
      {% for page in pages %}
        {% if page.categories contains "project" %}
            <a class="col-sm-12 col-md-6" href="{{ page.url | prepend: site.baseurl }}">
              <div class="portfolio">
                <img class="img-responsive" src="{{ page.dir | prepend: site.baseurl | append: "thumbnail.jpg" }}" />
                <div class="overlay"></div>
                <div class="title">{{page.title}}</div>
              </div>
            </a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>


<br />
<br />
