extends layout

block body
  div#homepage.container
    div#header
      div.avatar
        img(src="images/avatar.jpg")
      div.name
        img(src="images/logo.png")
      div.tagline
        | Finding myself through photography
      div.social
        a(href="https://www.facebook.com/Joysunphoto" target="_new")
          i.fa.fa-facebook
        a(href="http://instagram.com/joysunphotography" target="_new")
          i.fa.fa-instagram
        a(href="mailto:joy@joysunphotography.com")
          i.fa.fa-envelope
      hr
    div#portfolios
      div.row
        - each project in projects
          a.col-sm-12.col-md-6(href="/project/" + project.canonical)
            div.portfolio
              img.img-responsive(src="/images/projects/" + project.canonical + "/thumbnail.jpg")
              div.overlay
              div.title
                = project.name

block scripts
  script(type="text/javascript" src="/javascripts/homepage.js")
  script(type="text/javascript")
    | $(document).ready(function() { new Homepage(); });
