doctype html
html
  head
    meta(http-equiv='Content-Type', context='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Joy Sun -- A personality expressionist photographer.')

    title='Joy Sun Photography'

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/lodash/dist/lodash.min.js')
    script(type='text/javascript', src='/bower_components/twitter/dist/js/bootstrap.min.js')
    script(type="text/javascript", src="//use.typekit.net/geq2gwt.js")
    script(type="text/javascript")
      | try{Typekit.load();}catch(e){}

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body
    div#footer
      hr
      | &copy; 2015 Joy Sun
    block scripts