<div id="mini-header" class="fixed">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 hidden-xs left">
        <div class="mini-container">
          <a href="/">
            <span class="back">
              <span class="fa fa-arrow-circle-left"></span>
              <span class="text">Back to Homepage</span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 center">
        <div class="title">{{page.title}}</div>
      </div>
      <div class="col-sm-4 hidden-xs right">
        <div class="mini-container">
          <span class="name">Joy Sun</span>
          <span class="avatar">
            <img src="/images/avatar.jpg" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>