{% extends "base.html" %}
{% block body %}
  <div id="homepage" class="container">
    <div id="header">
      <div class="avatar">
        <img src="{{ url_for('static', filename='img/avatar.jpg') }}" />
      </div>
      <div class="name">
        Joy Sun
      </div>
      <div class="tagline">
        Photographing human expressions one moment at a time.
      </div>
      <div class="social">
        <a href="https://www.facebook.com/Joysunphoto">
          <i class="icon-facebook-sign"></i>
        </a>
        <a href="http://instagram.com/joysunphotography">
          <i class="icon-instagram"></i>
        </a>
        <a href="mailto:joy@joysunphotography.com">
          <i class="icon-envelope"></i>
        </a>
      </div>
    </div>
    <hr />
    <div id="portfolios">
      <div class="row">
        <img class="img-responsive img-rounded col-md-12" src="{{ url_for('static', filename='img/black_and_white/image1.jpg') }}" />
        <img class="img-responsive img-rounded col-md-4" src="{{ url_for('static', filename='img/black_and_white/image3.jpg') }}" />
        <img class="img-responsive img-rounded col-md-4" src="{{ url_for('static', filename='img/black_and_white/image4.jpg') }}" />
        <img class="img-responsive img-rounded col-md-4" src="{{ url_for('static', filename='img/black_and_white/image5.jpg') }}" />
        <img class="img-responsive img-rounded col-md-6" src="{{ url_for('static', filename='img/black_and_white/image2.jpg') }}" />
        <img class="img-responsive img-rounded col-md-6" src="{{ url_for('static', filename='img/black_and_white/image6.jpg') }}" />
      </div>
    </div>
  </div>
{% endblock %}
