{% extends "base.html" %}
{% block body %}
  <div id="homepage" class="container">
    <div id="header">
      <div class="avatar">
        <img src="{{ url_for('static', filename='img/avatar.jpg') }}" />
      </div>
      <div class="name">
        Joy Sun
      </div>
      <div class="tagline">
        Photographing human expressions one moment at a time.
      </div>
      <div class="social">
        <a href="https://www.facebook.com/Joysunphoto">
          <i class="icon-facebook-sign"></i>
        </a>
        <a href="http://instagram.com/joysunphotography">
          <i class="icon-instagram"></i>
        </a>
        <a href="mailto:joy@joysunphotography.com">
          <i class="icon-envelope"></i>
        </a>
      </div>
      <hr />
    </div>
    <div id="portfolios">
      <div class="row">
        {% for p in projects %}
          <a class="col-sm-12 col-md-6" href="{{ url_for('project', project_id=p.canonical) }}">
            <div class="portfolio">
              <img class="img-responsive" src="{{ url_for('static', filename='%s/%s' % (p.path, p.thumbnail)) }}" />
              <div class="overlay"></div>
              <div class="title">
                {{p.name}}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      new Homepage();
    });
  </script>
{% endblock %}