{% extends "base.html" %}
{% block body %}
  <div id="mini-header" class="fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-xs left">
          <div class="mini-container">
            <a href="{{ url_for('index') }}"
              <span class="back">
                <span class="icon-circle-arrow-left"></i>
              </span>
              <span class="text">Back to Homepage</span>
            </a>
          </div>
        </div>
        <div class="col-sm-4 center">
          <span class="title">{{project.name}}</span>
        </div>
        <div class="col-sm-4 hidden-xs right">
          <div class="mini-container">
            <span class="name">
              Joy Sun
            </span>
            <span class="avatar">
              <img src="{{ url_for('static', filename='img/avatar.jpg') }}" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="project" class="container">
    <div id="photos">
      <div class="row">
        {% for layout in project.layouts %}
          {% set class = 'col-md-' ~ (12 / (layout.images|length))|int %}
          {% for image in layout.images %}
            <div class="{{class}}">
              <img class="img-responsive" src="{{ url_for('static', filename='%s/%s' % (project.path, image)) }}" />
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
